@import "tailwindcss";
@import "@powerhousedao/design-system/theme.css";

@theme {
  /* You can customize the theme by overriding the theme variables here */
  /* See https://tailwindcss.com/docs/theme#using-a-custom-theme for details */

  /* If you would prefer to use plain css, add your styles below this @theme tag as you normally would */

  /* A sensible CSS reset is applied by default. If you would prefer to use a different reset or none at all, uncomment the following line */

  /* --*: initial; */
}
